<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mms.mapper.MmsFeedbackMapper">
    
    <resultMap type="MmsFeedback" id="MmsFeedbackResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMmsFeedbackVo">
        select id, user_id, content, create_time, update_time from mms_feedback
    </sql>

    <select id="selectMmsFeedbackList" parameterType="MmsFeedback" resultMap="MmsFeedbackResult">
        <include refid="selectMmsFeedbackVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectMmsFeedbackById" parameterType="Long" resultMap="MmsFeedbackResult">
        <include refid="selectMmsFeedbackVo"/>
        where id = #{id}
    </select>

    <insert id="insertMmsFeedback" parameterType="MmsFeedback" useGeneratedKeys="true" keyProperty="id">
        insert into mms_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMmsFeedback" parameterType="MmsFeedback">
        update mms_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMmsFeedbackById" parameterType="Long">
        delete from mms_feedback where id = #{id}
    </delete>

    <delete id="deleteMmsFeedbackByIds" parameterType="String">
        delete from mms_feedback where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>