<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mms.mapper.MmsUserMapper">
    
    <resultMap type="MmsUser" id="MmsUserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMmsUserVo">
        select id, username, create_time, update_time from mms_user
    </sql>

    <select id="selectMmsUserList" parameterType="MmsUser" resultMap="MmsUserResult">
        <include refid="selectMmsUserVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
        </where>
    </select>
    
    <select id="selectMmsUserById" parameterType="Long" resultMap="MmsUserResult">
        <include refid="selectMmsUserVo"/>
        where id = #{id}
    </select>

    <insert id="insertMmsUser" parameterType="MmsUser" useGeneratedKeys="true" keyProperty="id">
        insert into mms_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMmsUser" parameterType="MmsUser">
        update mms_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMmsUserById" parameterType="Long">
        delete from mms_user where id = #{id}
    </delete>

    <delete id="deleteMmsUserByIds" parameterType="String">
        delete from mms_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>